################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AmazonOrderUpdate/obj
/ConsoleApp1/obj
/obj